Required packages




- Contextily

pip install contextily

https://github.com/darribas/contextily


- Cartopy

try: pip install Cartopy

if not follow: https://scitools.org.uk/cartopy/docs/latest/installing.html#installing


- requests

http://docs.python-requests.org/en/master/user/install/

git clone git://github.com/requests/requests.git
cd requests
pip install .

- geopy

pip install geopy



- PROJ4
sudo apt-get install proj-bin
sudo apt-get install libproj-dev


- gpxpy

git clone https://github.com/tkrajina/gpxpy
cd gpxpy
python setup.py install

- xlrd

pip install xlrd


Radio Stations Map
api 이동통신 무선국 분포현황
https://spectrummap.kr/gis/mobile_service.do?menuNo=300480





EASY WAY To draw maps
https://github.com/jwass/mplleaflet